# dependencies
/node_modules
/.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.*
.env.project
.env.env
.env.secret

# Project specific
/hr-frontend/node_modules/
/hr-backend/node_modules/
/hr-frontend/dist/
/hr-backend/dist/

#components
/hr-frontend/src/components
#database
/hr-backend/db
#scripts
/hr-backend/scripts
#utils
/hr-backend/src/utils
#routes
/hr-backend/src/routes
#middleware
/hr-backend/src/middleware
#db
/hr-backend/src/db
#index
/hr-backend/src/index.js
